/*
=========
MAIN NAV
=========
*/
@media screen and (max-width: 1400px) {
  .navbar-brand img {
    width: 110px;
  }

  .navbar.main-nav {
    padding: 0 25px;
  }
  .navbar.main-nav .nav-link {
    font-size: 16px;
    margin: 0 20px;
  }

  .btn-light {
    font-size: 13px;
    width: 170px;
    height: 50px;
    line-height: 35px;
  }
}
@media screen and (max-width: 1200px) {
  .navbar.main-nav {
    width: 100vw;
    padding: 0 20px;
    height: 100px;
  }
  .navbar.main-nav .nav-link {
    font-size: 14px;
  }
  .navbar.main-nav .line {
    top: 83px;
  }

  .btn-light {
    font-size: 11px;
    width: 155px;
  }
}
@media screen and (max-width: 991px) {
  .navbar.main-nav {
    padding: 0 25px;
  }
  .navbar.main-nav .navbar-collapse {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(12, 86, 109, 0.95);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 0;
    overflow-x: hidden;
    transition: 0.4s;
  }
  .navbar.main-nav .navbar-collapse .overlay-item {
    padding-bottom: 4vh;
  }
  .navbar.main-nav .navbar-collapse.show {
    width: 100%;
  }
  .navbar.main-nav .toggle {
    right: 0;
    visibility: visible;
  }
}
@media screen and (max-width: 767px) {
  .navbar.main-nav {
    height: 95px;
  }
  .navbar.main-nav .line {
    top: 78px;
  }
  .navbar.main-nav .navbar-brand img {
    width: 90px;
  }
  .navbar.main-nav .toggle .span {
    width: 30px;
  }
  .navbar.main-nav .toggle #line02 {
    top: 8px;
  }
  .navbar.main-nav .toggle #line03 {
    top: 17px;
  }
}
@media screen and (max-width: 576px) {
  .navbar.main-nav {
    height: 75px;
  }

  .navbar.main-nav .line {
    top: 57px;
  }
}
/*
=========
FOOTER
=========
*/
@media screen and (max-width: 1200px) {
  footer .f-links h2 {
    margin-bottom: 15px;
  }
  footer .f-links a {
    font-size: 15px;
    line-height: 30px;
  }
}
@media screen and (max-width: 991px) {
  footer .copyright {
    text-align: center;
  }
  footer p {
    font-size: 12px;
    margin-bottom: 25px;
  }
  footer .copyright img {
    width: 100px;
    margin: 0;
  }
  footer .f-links {
    text-align: left;
  }
  footer .f-links h2 {
    font-size: 14px;
  }
  footer .icon img {
    width: 30px;
  }
  footer .cs {
    font-size: 13px;
  }
  footer .cs img {
    width: 95px;
  }
}
@media screen and (max-width: 767px) {
  .home_housing .icon {
    float: none;
    text-align: center;
  }
  .home_housing .caption {
    margin: 0 auto;
    text-align: center;
  }

  footer p {
    font-size: 14px;
  }
  footer .icon-container .row {
    margin: 0;
  }
  footer .icon {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 576px) {
  footer p {
    font-size: 11px;
  }
  footer .copyright img {
    width: 85px;
  }
  footer .f-links {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: left;
  }
  footer .f-links a {
    font-size: 13px;
    line-height: 25px;
  }
  footer .icon-container .row .cs,
footer .icon-container .row .icon {
    justify-content: center;
  }
}
@media screen and (max-width: 479px) {
  .home_housing .icon {
    margin: 30px;
  }

  footer .f-links {
    text-align: left;
  }
}
/*
=======
GLOBAL
=======
*/
@media screen and (max-width: 1200px) {
  .scroll-container .scroll {
    width: 50px;
    height: 50px;
  }

  .scroll-container .scroll img {
    width: 30%;
    padding-top: 23px;
  }
}
@media screen and (max-width: 991px) {
  .head {
    font-size: 11px;
  }

  .scroll-container .scroll {
    width: 45px;
    height: 45px;
  }

  .scroll-container .scroll img {
    padding-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .scroll-container .scroll {
    width: 45px;
    height: 45px;
  }

  .scroll-container.scroll img {
    width: 32%;
    padding-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .head {
    font-size: 9px;
  }

  .scroll-container .scroll {
    width: 40px;
    height: 40px;
  }

  .scroll-container .scroll img {
    padding-top: 15px;
  }
}
/*
======================
FRONT PAGE / HOMEPAGE
======================
*/
@media screen and (max-width: 1200px) {
  .home .home_banner {
    background-position-x: 100%;
  }
  .home .banner {
    height: 750px;
  }
  .home .scroll-container {
    bottom: 140px;
  }
  .home .banner_caption h1 {
    font-size: 2em;
  }
  .home .banner_caption span {
    font-size: 13px;
  }
  .home .banner_caption .banner_caption h1 {
    font-size: 38px;
    line-height: 55px;
  }
  .home .banner_caption p {
    font-size: 18px;
  }
  .home .home_profit .caption h2 {
    font-size: 28px;
  }
  .home .home_profit .one-percent img {
    width: 12%;
  }
  .home .home_profit .arrow {
    width: 85%;
  }
  .home .home_profit .h-arrow2 {
    bottom: -34px;
  }
  .home .hyat_work br {
    display: none;
  }
  .home .git {
    background-position-x: 100%;
  }
}
@media screen and (max-width: 991px) {
  .home .banner_caption span {
    font-size: 11px;
  }
  .home .banner_caption {
    top: 28%;
  }
  .home .banner_caption h1 {
    line-height: 50px;
  }
  .home br,
.home .home_banner .polygon1 {
    display: none;
  }
  .home .home_profit {
    background-position-y: bottom;
    height: 550px;
  }
  .home .home_profit .arrow {
    width: 75%;
  }
  .home .home_profit .h-arrow2 {
    bottom: -31px;
  }
  .home .home_profit .caption h2 {
    font-size: 25px;
  }
  .home .home_profit .caption p {
    font-size: 16px;
    line-height: 28px;
  }
  .home .home_profit .one-percent {
    margin-top: 3em;
    margin-bottom: 4em;
  }
  .home .profit_light .hand_icon {
    float: none;
    margin: 0;
    width: 100px;
  }
  .home .profit_light .caption {
    text-align: center;
  }
  .home .profit_light .caption h2 {
    font-size: 11px;
  }
  .home .profit_light .caption p {
    font-size: 14px;
    line-height: 20px;
  }
  .home .hyat_work .row {
    justify-content: center;
  }
  .home .home_search .form select {
    width: 80%;
  }
  .home .git.banner {
    height: 70vh;
  }
  .home .git .caption h2 {
    font-size: 2em;
    line-height: 1.5em;
  }
  .home .git .caption p {
    line-height: 26px;
    margin-top: 2em;
    margin-bottom: 3em;
  }
  .home .home_housing .icon {
    float: none;
    margin: 25px;
    display: flex;
    justify-content: center;
  }
  .home .home_housing .caption {
    margin: auto;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .home .banner_caption p {
    font-size: 1em;
    line-height: 26px;
  }
  .home .home_profit .caption h2 {
    font-size: 23px;
    line-height: 40px;
  }
  .home .home_profit .one-percent img {
    width: 15%;
  }
  .home .home_profit .caption p {
    font-size: 14px;
    line-height: 25px;
  }
  .home .home_profit .arrow {
    width: 60%;
  }
  .home .home_profit .h-arrow1 {
    top: 25%;
    right: -200px;
  }
  .home .home_profit .h-arrow2 {
    bottom: -24px;
  }
  .home .hyat_work .caption h2 {
    font-size: 30px;
    line-height: 1.5em;
  }
  .home .hyat_work .row {
    margin: 100px 0;
  }
  .home .hyat_work .caption h3 {
    font-size: 20px;
    line-height: 1em;
  }
  .home .hyat_work .caption p {
    font-size: 15px;
  }
  .home .hyat_work .row img {
    margin-top: 50px;
    width: 160px;
    height: 93px;
  }
  .home .home_search .row {
    padding: 111px 0;
  }
  .home .home_search .caption h1 {
    font-size: 28px;
  }
  .home .home_search .caption p {
    padding: 0;
    margin: 30px 0;
    line-height: 25px;
    font-size: 15px;
  }
  .home .home_search .form .custom-select {
    max-width: 300px;
    height: 50px;
  }
  .home .home_search .form select {
    line-height: 36px;
    font-size: 15px;
    margin: 0;
  }
  .home .home_search .form .btn-info {
    width: 60px;
    height: 50px;
  }
  .home .home_search .form .btn-info i {
    font-size: 25px;
  }
  .home .git .caption {
    right: 0;
  }
  .home .tpo {
    margin: 50px 0;
  }
  .home .home .tpo .caption h2 {
    margin: 0;
    padding: 0;
  }
  .home .tpo .caption p {
    margin: 0 15px;
  }
}
@media screen and (max-width: 576px) {
  .home .banner {
    height: 100vh;
  }
  .home .banner_caption {
    top: 24%;
    width: 100%;
    margin: 0 !important;
    padding: 0 25px;
  }
  .home .banner_caption h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .home .banner_caption p {
    margin-top: 30px;
    font-size: 15px;
  }
  .home .home_profit {
    height: 500px;
  }
  .home .home_profit .caption {
    top: 25px;
  }
  .home .home_profit .caption h2 {
    font-size: 22px;
    line-height: 35px;
  }
  .home .home_profit .one-percent img {
    width: 70px;
  }
  .home .home_profit .arrow {
    width: 50%;
  }
  .home .home_profit .h-arrow2 {
    bottom: -20px;
  }
  .home .home_profit .caption p {
    font-size: 12px;
    line-height: 20px;
  }
  .home .profit_light .caption p {
    font-size: 11px;
  }
  .home .home_search .form .custom-select {
    margin: 18px;
    max-width: 90%;
  }
  .home .git.banner {
    height: 60vh;
    margin-top: 25px;
  }
  .home .git .caption {
    top: 15vh;
  }
  .home .git .caption h2 {
    font-size: 25px;
  }
  .home .git .caption p {
    font-size: 15px;
  }
  .home .btn-light {
    width: 140px;
    height: 45px;
    line-height: 30px;
  }
  .home .tpo {
    margin-top: 35px;
  }
  .home .tpo img {
    width: 150px;
    margin-top: 20px;
  }
  .home .tpo .caption h2 {
    font-size: 25px;
  }
  .home .tpo .caption p {
    font-size: 13px;
    margin: 0;
  }
  .home .home_housing .icon img {
    height: 50px;
  }
  .home .home_housing h2 {
    font-size: 16px;
    line-height: 20px;
  }
  .home .home_housing p {
    line-height: 20px;
    font-size: 13px;
  }
  .home .home_housing a {
    font-size: 10px;
  }
}
@media screen and (max-width: 479px) {
  .home .banner_caption span {
    font-size: 8px;
  }

  .home .banner {
    height: 85vh;
  }

  .home .banner_caption h1 {
    font-size: 25px;
    line-height: 40px;
  }

  .home .banner_caption p {
    font-size: 13px;
    line-height: 22px;
  }

  .home .scroll-container {
    bottom: 100px;
  }
}
@media screen and (max-width: 420px) {
  .home .banner {
    height: 100vh;
  }

  .home .banner_caption span {
    font-size: 2.5vw;
  }

  .home .banner_caption h1 {
    font-size: 8vw;
    line-height: 6vh;
  }

  .home .banner_caption p {
    margin-top: 8vh;
    font-size: 3.5vw;
    line-height: 3.5vh;
  }

  .home .git.banner {
    background-position-x: -50px;
    height: 68vh;
    margin-top: 25px;
  }

  .home .git .caption h2 {
    font-size: 4vh;
  }
}
/* 
======================
ABOUT PAGE
======================
*/
@media screen and (max-width: 1510px) {
  .about .banner {
    height: 850px;
  }

  .aim .caption h2 br {
    display: none;
  }

  .values .arrow2 img {
    opacity: 0.6;
  }

  .values .caption-container .row {
    margin: 0;
  }

  .partners .caption {
    padding: 0 15px;
  }

  .partners .caption p {
    padding: 0 50px;
  }

  .partners .caption p br {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .about .banner {
    height: 850px;
  }
  .about .partners .caption h2 {
    font-size: 30px;
    line-height: 38px;
  }
  .about .partners .caption p {
    line-height: 30px;
  }
}
@media screen and (max-width: 991px) {
  .about .banner {
    height: 650px;
  }
  .about br {
    display: none;
  }
  .about .about_banner .banner_caption {
    top: 25%;
  }
  .about .about_banner .banner_caption h1 {
    font-size: 34px;
    line-height: 50px;
  }
  .about .about_banner .banner_caption p {
    font-size: 16px;
    line-height: 25px;
  }
  .about .aim .caption {
    margin: 100px 20px 150px 20px;
  }
  .about .aim .caption h2 {
    font-size: 30px;
    line-height: 45px;
  }
  .about .values .caption.head h2 {
    font-size: 32px;
    line-height: 56px;
    margin-top: 85px;
  }
  .about .values .caption-container {
    margin: 0 20px;
  }
  .about .values .caption-container .row .caption h2 {
    font-size: 30px;
    line-height: 0;
    margin-top: 150px;
  }
  .about .values .caption-container .row .caption p {
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  .about .about_banner .banner_caption h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .about .aim .caption h2 {
    font-size: 25px;
    line-height: 40px;
    text-align: justify;
  }

  .about .aim .caption p {
    font-size: 17px;
    line-height: 30px;
  }

  .about .aim .caption {
    margin: 80px 20px;
  }

  .about .aim img {
    width: 60%;
  }

  .about .values .caption-container .row .caption p {
    max-width: 100%;
  }

  .about .partners .caption h2 {
    font-size: 28px;
  }

  .about .partners .caption p {
    font-size: 17px;
    line-height: 25px;
  }

  .about .partners .banner {
    height: 555px;
  }
}
@media screen and (max-width: 576px) {
  .about .banner {
    height: 600px;
  }

  .about .about_banner .banner_caption {
    top: 18%;
  }

  .about .about_banner .banner_caption h1 {
    font-size: 28px;
  }

  .about .about_banner .banner_caption p {
    font-size: 15px;
  }

  .about .aim .caption {
    margin: 80px 0;
  }

  .about .aim .caption h2 {
    font-size: 23px;
    line-height: 35px;
  }

  .about .aim .caption p {
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
  }

  .about .values .caption-container {
    margin: 0;
  }

  .about .values .caption.head h2 {
    font-size: 28px;
    margin-top: 70px;
  }

  .about .values .caption.head p {
    font-size: 20px;
    line-height: 30px;
  }

  .about .values .caption-container .row .caption h2 {
    font-size: 25px;
    line-height: 0;
    margin-top: 111px;
  }

  .about .values .caption-container .row .caption p {
    font-size: 15px;
    line-height: 25px;
  }

  .about .values .arrow2 img {
    max-width: 60%;
  }

  .about .values .arrow2 {
    top: 285px;
  }

  .about .partners .caption h2 {
    font-size: 25px;
  }

  .about .partners .caption p {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0;
    font-size: 15px;
    line-height: 22px;
  }

  .about .partners .banner {
    height: 400px;
  }
}
@media screen and (max-width: 360px) {
  .about .banner {
    height: 100vh;
  }

  .about .about_banner .banner_caption {
    top: 14%;
  }

  .about .about_banner .banner_caption h1 {
    font-size: 25px;
    line-height: 35px;
  }

  .about .about_banner .banner_caption p {
    font-size: 13px;
    line-height: 25px;
  }

  .about .values {
    margin-bottom: 120px;
  }
}
/* 
======================
PRODUCTS
======================
*/
/*MIN-WIDTH 1201PX * XL */
@media screen and (max-width: 1200px) {
  .products .products_banner {
    height: 880px;
  }
  .products .products_banner .banner_caption {
    top: 25%;
  }
  .products .products_banner .bottom-section .btn-light {
    width: 220px;
    line-height: 55px;
  }
  .products .products_banner .banner_caption h1 {
    font-size: 34px;
  }
  .products .products_banner br {
    display: none;
  }
  .products .circles .circle-container {
    min-height: 1024px;
  }
  .products .circles .circles-content img {
    width: 100%;
  }
  .products .circles .c span {
    text-align: center;
  }
  .products .circles .c-1 a span {
    font-size: 4vw;
  }
  .products .circles .c-2 a span {
    font-size: 2vw;
    line-height: 30px;
    top: 30%;
  }
  .products .circles .c-3 a span {
    line-height: 28px;
    font-size: 1.8vw;
  }
  .products .circles .c-4 a span {
    font-size: 2vw;
    line-height: 25px;
  }
  .products .circles .c-5 a span {
    font-size: 2.5vw;
    line-height: 30px;
  }
  .products .circles .c-6 a span {
    font-size: 1.6vw;
    line-height: 20px;
  }
  .products .circles .c-7 a span {
    font-size: 2.2vw;
    line-height: 30px;
  }
  .products .circles .c-8 a span {
    font-size: 2.1vw;
  }
  .products .circles .arrows .arrow4 {
    width: 20%;
  }
  .products .circles .arrows .arrow1 {
    width: 18%;
  }
}
@media screen and (max-width: 991px) {
  .products .products_banner {
    height: 810px;
  }
  .products .products_banner .banner_caption h1 {
    font-size: 32px;
    line-height: 50px;
  }
  .products .products_banner .bottom-section {
    min-height: 200px;
  }
  .products .products_banner .bottom-section .caption h2 {
    margin-top: 25px;
    font-size: 20px;
  }
  .products .products_banner .bottom-section .caption p br {
    display: none;
  }
  .products .circles .circle-container {
    min-height: 992px;
  }
  .products .circles .caption h2 br {
    display: none;
  }
  .products .circles .caption h2 {
    max-width: 100%;
    padding: 0;
  }
  .products .circles .c-1,
.products .circles .c-2,
.products .circles .c-3,
.products .circles .c-4 a span {
    line-height: 20px;
  }
  .products .circles .c-4 {
    bottom: 42%;
  }
  .products .circles .c-6 {
    bottom: 25%;
  }
  .products .circles .c-7 {
    bottom: 26%;
  }
  .products .git {
    height: 700px;
    background-position: left;
  }
  .products .git .caption {
    width: 100%;
  }
}
@media screen and (max-width: 840px) {
  .products .circles .circle-container {
    min-height: 820px;
  }
}
@media screen and (max-width: 767px) {
  .products .products_banner {
    background-position-y: -145px;
    height: 810px;
  }

  .products .products_banner .banner_caption {
    top: 19%;
  }

  .products .products_banner .banner_caption h1 {
    font-size: 30px;
    line-height: 45px;
  }

  .products .products_banner .banner_caption p {
    margin-left: 10px;
    font-size: 16px;
    line-height: 25px;
    margin-right: 10px;
  }

  .products .products_banner .bottom-section {
    display: flex;
    align-items: center;
    background: #0c566d;
  }

  .products .products_banner .bottom-section .caption {
    margin-top: 25px;
    text-align: center;
  }

  .products .reg-btn {
    text-align: center;
  }

  .products .products_banner .bottom-section .btn-light {
    margin-bottom: 25px;
    height: 60px;
    line-height: 47px;
    margin-top: 25px;
    float: none;
  }

  .products .products_banner .bottom-section .caption h2 {
    margin: 0;
    font-size: 17px;
  }

  .products .products_banner .bottom-section .caption p {
    margin-top: 15px;
    font-size: 15px;
  }

  .products .circles .caption h2 {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 50px;
  }

  .products .circles .circle-container {
    min-height: auto;
  }

  .products .circles .circles-content img,
.dots,
.arrows {
    display: none;
  }

  .products .circles .c {
    padding: 30px;
    position: static;
  }

  .products .circles .c a span {
    position: static;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }

  .products .circles .c a span br {
    display: none;
  }

  .products .circles .c-5 a span {
    color: #0c566d;
  }

  .circles .c-5 a span {
    color: #0c566d;
  }

  .c-1 {
    background: linear-gradient(91deg, #57c3b7 -44%, #0c566d 76%);
  }

  .c-3 {
    background: #57c3b7;
  }

  .c-4 {
    background: linear-gradient(91deg, #57c3b7 -44%, #0c566d 76%);
  }

  .c-6 {
    background: #57c3b7;
  }

  .c-7 {
    background: linear-gradient(91deg, #57c3b7 -44%, #0c566d 76%);
  }

  .products .git {
    background-position-x: left;
    display: flex;
    align-items: center;
    height: 555px;
  }

  .products .git .caption p {
    font-size: 16px;
    margin-bottom: 50px;
    width: 100%;
  }

  .products .git .caption {
    width: 100%;
    position: static;
  }
}
@media screen and (max-width: 578px) {
  .products .products_banner {
    height: 100vh;
  }

  .products .products_banner .banner_caption h1 {
    margin: 0 10px;
    font-size: 6vw;
    line-height: 10vw;
  }

  .products .products_banner .banner_caption p {
    font-size: 3.5vw;
    line-height: 6vw;
  }

  .products .circles .c a span {
    font-size: 18px;
  }

  .products .git .caption h2 {
    font-size: 8vw;
    line-height: 12vw;
    font-weight: 500;
  }
}
@media screen and (max-width: 425px) {
  .products .products_banner {
    height: 120vh;
  }

  .products .products_banner .bottom-section {
    bottom: -40px;
  }

  .products .products_banner .bottom-section .caption h2 {
    font-size: 15px;
  }

  .products .products_banner .bottom-section .caption p {
    font-size: 13px;
  }

  .products .git {
    height: 100vh;
  }
}
@media screen and (max-width: 375px) {
  .products .git .caption {
    padding: 0;
  }
}