html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
label,
input {
  font-family: Museo-Sans;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

*:focus {
  outline: none;
}

.container {
  max-width: 1500px;
}

.success {
  font-size: 16px;
  color: #4ee24e;
  font-weight: bold;
}

.form-control {
  height: auto;
  width: 100%;
  border: 2px solid #57c3b754 !important;
}

.form-control:focus {
  color: #17a2b88c;
  border-color: #17a2b8ba;
  box-shadow: none;
}

.small_error {
  color: red;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.red {
  color: #f77c87;
}

.green {
  color: #a4cea4;
}

.orange {
  color: #ffc107;
}

//Profile

.saved_properties {
  margin-top: 200px;
  margin-bottom: 100px;

  .liked_properties .row {
    .block {
      border-radius: 8px;
      border: solid 1px #e9ecefb8;
      box-shadow: 5px 8px 18px #e9ecef;
      padding: 10px;
      margin: 10px 0;

      img {
        width: 40%;
        height: 100%;
        border-radius: 8px;
      }

      .details {
        margin-left: 20px;

        p {
          margin-top: 10px;
        }
      }

      i {
        font-weight: bolder;
        margin-right: 5px;
      }
    }
  }

  h2 {
    font-size: 20px;
    margin: 20px auto;
  }

  .title {
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }
}

//My Account

.my-account {
  color: white;
  font-weight: 500;
  cursor: pointer;

  .links {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15px;
    top: 112px;
    transition: 0.3s;
    visibility: hidden;

    a {
      color: #fff;
      padding: 20px 40px;
      background-color: #115a71;
      transition: 0.3s;
    }

    a:hover {
      background-color: #115a719e;
      border-radius: 3px;
    }
  }
}

.my-account:hover .links {
  visibility: visible;
}

//ADD POST

.add_post {
  height: auto;
  margin-top: 200px;
  margin-bottom: 150px;
  display: flex;
  align-items: center;

  .form-control {
    width: 40vw;
  }
}

//Sign_up Modal

#signInPage {
  margin: auto;
  max-width: 1400px;

  .banner {
    height: 70vh;
  }

  .row {
    align-items: center;
  }
}

.sup.container {
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}

.col-lg-6 {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.sign_up {
  background-image: url(../img/reg-bg.png);
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  h1 {
    color: #fff;
    font-size: 32px;
  }

  .btn-light:hover {
    color: #57c3b7;
    background-color: #636d6c7a;
  }
}

.login {
  width: 75%;

  hr {
    border-top: 1px solid #57c3b754 !important;
  }

  h1 {
    font-size: 32px;
  }

  label {
    font-size: 20px;
    font-family: Museo-Sans;
  }

  .btn-light:hover {
    color: #57c3b7;
  }
}

.btn-light {
  font-size: 18px;
}

.modal-open {
  width: 100vw;
}

.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    width: 80%;
  }

  .form-group {
    label.error {
      font-size: 13px !important;
      font-family: inherit;
      padding: 0;
      font-style: italic;
    }
  }
}

.custom-checkbox {
  align-items: center;
  margin-left: 12px;

  input {
    float: right;
    margin-left: 15px;
    height: 15px;
    width: 15px;
  }
}

.register-success {
  h3 {
    text-align: center;
    color: #55c2b6;
    font-size: 20px;
  }
}

.register-error {
  h3 {
    text-align: center;
    color: #cc0202;
    font-size: 20px;
  }
}

.banner {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.banner_caption_container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.banner_caption {
  position: absolute;
  top: 36%;
  color: #fff;
  font-weight: 500;
}

.banner_caption h1 {
  font-family: Museo-Sans-Rounded;
  font-size: 2.5em;
  line-height: 62px;
  margin-top: 1em;
}

.banner_caption p {
  margin-top: 45px;
  opacity: 0.6;
  font-family: Museo-Sans;
  font-size: 20px;
  line-height: 31px;
}

.scroll-container {
  position: absolute;
  left: 50%;
}

.a-position {
  position: absolute;
}

.r {
  position: relative;
}

.btn-light {
  width: 191px;
  height: 55px;
  font-family: museo-sans-rounded;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  background-color: #57c3b7;
  border-radius: 30px;
  border: solid 2px #55c2b6;
  transition-duration: 0.2s;
}

.btn-light:hover {
  background-color: transparent;
  box-shadow: 0px 12px 35px 0px rgba(0, 0, 0, 0.25);
  border: solid 2px #55c2b6;
  color: #fff;
}

//
//
//NAVBAR

.navbar.main-nav {
  width: 100vw;
  height: 115px;
  padding: 0 50px;
  transition: 0.5s;

  .navbar-collapse {
    text-align: center;
  }

  .nav-item {
    transition: all 0.3s ease-out;
  }

  .nav-link {
    font-family: museo-sans-rounded;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #fff;
    margin: 0 40px;
  }

  .nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  .toggle {
    position: absolute;
    width: 80px;
    height: 30px;
    visibility: hidden;

    .span {
      position: absolute;
      top: 0;
      right: 20px;
      height: 2px;
      width: 35px;
      background: #bbe1df;
      margin-top: 5px;
      transition: all cubic-bezier(0.32, 0.15, 0, 1.53) 0.3s;
    }

    #line01 {
      top: 0;
    }

    #line02 {
      top: 10px;
    }

    #line03 {
      top: 20px;
    }
  }

  .menu.close #line01 {
    transform: rotate(45deg);
    top: 10px;
  }

  .menu.close #line02,
  .menu.close #line03 {
    transform: rotate(-45deg);
    top: 10px;
  }

  .line {
    background-color: rgba(255, 255, 255, 0.05);
    width: 96%;
    height: 1px;
    left: 2%;
    top: 97px;
  }

  .welcome {
    font-size: 15px;
    color: white;
  }
}

//HOME

.caption-container {
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
}

.head {
  font-family: museo-sans;
  color: #57c3b7;
  font-size: 13px;
  font-weight: 900;
  line-height: 58px;
  text-align: center;
}

.caption-main {
  font-family: Museo-Sans-Rounded;
  color: rgb(12, 86, 109);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.238;
}

.caption p {
  font-family: Museo-Sans;
}

.error {
  font-family: museo-sans;
  font-size: 16px;
  font-weight: 500;
  color: #ff0000;
  text-align: left;
  padding-left: 15px;
}

.scroll {
  background-color: #50b8af;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  text-align: center;
  animation-name: scroll;
  animation-duration: 3s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.scroll img {
  width: 35%;
  padding-top: 25px;
}

@keyframes scroll {
  0% {
    top: 5px;
  }

  50% {
    top: 40px;
  }

  100% {
    top: 5px;
  }
}

.home {
  .home_banner {
    .polygon1 {
      bottom: -145px;
      left: 0;
    }
  }

  .scroll-container {
    bottom: 15%;
  }

  //1% PROFIT
  .home_profit {
    position: relative;
    background-image: url(../img/home/one_percent_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #115a71;
    height: 570px;

    .h-arrow1 {
      top: 20%;
      right: 0;
    }

    .h-arrow2 {
      text-align: right;
      right: 0;
      bottom: -41px;
    }

    .caption {
      top: 60px;
      left: 0;
      right: 0;
      text-align: center;

      h3 {
        font-family: museo-sans;
        color: #57c3b7;
        font-size: 13px;
        font-weight: 900;
        line-height: 58px;
      }

      h2 {
        font-family: museo-sans-rounded;
        color: #fff;
        font-size: 30px;
        font-weight: 500;
        line-height: 46px;
      }

      p {
        font-family: museo-sans-rounded;
        color: #bbe1df;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
      }
    }

    .one-percent {
      margin-top: 50px;
      margin-bottom: 60px;
    }

    .caption .dot {
      margin: 0 5px;
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #47aaa6;
      border-radius: 50%;
    }
  }

  .profit_light {
    background-color: #d9efed;
    padding-top: 20px;
    padding-bottom: 15px;

    .hand_icon {
      float: left;
      margin-top: 20px;
      margin-right: 25px;
    }

    .caption-container {
      max-width: 1500px;
    }

    .row {
      margin-top: 20px;
    }

    .caption {
      font-family: Museo-sans;
      text-align: left;

      h2 {
        color: #0c566d;
        font-size: 13px;
        font-weight: 700;
        line-height: 58px;
      }

      p {
        margin: 0 15px;
        color: rgba(70, 169, 165, 0.85);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }

  .hyat_work {
    margin-top: 100px;

    .caption-container {
      max-width: 1740px;
      padding: 0 20px;
    }

    .row {
      margin: 130px 0;
      text-align: center;

      img {
        margin-top: 25px;
        width: 170px;
        height: 103px;
      }
    }

    .caption {
      text-align: center;
      font-family: museo-sans;

      h2 {
        color: #000000;
        font-size: 36px;
        line-height: 67px;
        transform: rotate(0.056deg);
      }

      h3 {
        margin-bottom: 28px;
        margin-top: 55px;
        color: #0c0c0c;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
      }

      p {
        color: rgba(146, 146, 146, 0.9);
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
      }
    }
  }

  .aboutUs {
    margin-bottom: 10px;
  }

  .home_search {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #115a71;

    .container {
      max-width: 1500px;
      margin: 0 auto;
      padding: 0 20px;
    }

    .form-arrows {
      .arrow1 {
        right: 20px;
        bottom: 196px;
      }

      .arrow2 {
        bottom: 74px;
        right: 199px;
      }

      .arrow3 {
        bottom: 20%;
        right: 0;
      }

      .arrow4 {
        right: 73px;
        bottom: -16px;
      }

      .house_vector {
        left: 0;
        bottom: 0;
      }
    }

    .row {
      padding: 131px 0;
    }

    .caption {
      h1 {
        font-family: museo-sans-rounded;
        color: #fff;
        font-size: 32px;
        line-height: 58px;
        font-weight: 700;
      }

      br {
        display: none;
      }

      p {
        padding-right: 40px;
        margin-top: 50px;
        color: #b5d8e3;
        line-height: 27px;
        font-size: 17px;
      }
    }

    .form {
      form {
        padding-right: 30px;
        margin-top: 15px;
      }

      .custom-select {
        border-radius: 12px;
        background-color: #ffffff !important;
        max-width: 360px;
        height: 65px;
        background: url(../img/home/dropdown.png) no-repeat;
        background-position: 90% 50%;
      }

      select {
        margin: 12px 0 0 10px;
        font-family: museo-sans-rounded;
        color: #0c566d;
        font-size: 17px;
        line-height: 25px;
        text-align: center;
        background: transparent;
        width: 268px;
        border: none;
        -webkit-appearance: none;
      }

      option {
        font-family: museo-sans;
        color: #0c566d;
        font-size: 13px;
        font-weight: 700;
        transition-duration: 0.3s;
      }

      option:hover {
        background-color: #50b8af;
      }

      .btn-info {
        border: none;
        border-radius: 6px;
        background-color: #114454;
        box-shadow: 0px 26px 41.71px 1.29px rgba(24, 23, 24, 0.1);
        width: 73px;
        height: 65px;
        transition-duration: 0.3s;

        i {
          color: #fff;
          width: 8px;
          height: 13px;
          font-size: 30px;
          margin-right: 5px;
          margin-top: 5px;
        }
      }

      .btn-info:hover {
        background-color: #50b8af;
      }

      .caption {
        h3 {
          margin-top: 50px;
          font-family: museo-sans-rounded;
          color: #ffffff;
          font-size: 15px;
          line-height: 27px;
        }

        a {
          color: #50b8af;
        }

        a:hover {
          color: #fff;
        }
      }
    }

    // end of form
  }

  //end home_search

  .home_slider {
    position: relative;

    .slider-container {
      max-width: 1600px;
      margin: 0 auto;
    }

    #carouselIndicators .row .col-1 {
      max-width: 300px;
      position: absolute;
      right: 0;
      margin-top: 130px;
    }

    .carousel-indicators {
      position: relative;
      top: 50px;
      justify-content: flex-end;

      li {
        border-radius: 50%;
        background-color: rgba(80, 184, 175, 0.2);
        width: 8px;
        height: 8px;
        margin: 30px 10px;
      }

      .active {
        border-radius: 50%;
        background-color: #50b8af;
        width: 8px;
        height: 8px;
      }
    }

    .carousel-inner {
      margin-top: 130px;
      margin-bottom: 100px;

      .slider-img {
        float: left;
      }
    }

    .caption {
      margin-left: 200px;
      padding-right: 5px;

      h3 {
        font-family: museo-sans-rounded;
        color: #50b8af;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 40px;
      }

      p {
        color: #0c566d;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  // end home_slider

  .home_news {
    .line {
      max-width: 1650px;
      height: 1px;
    }

    .container {
      position: relative;
      max-width: 1600px;
    }

    .row {
      margin-bottom: 25px;
    }

    .caption {
      font-family: museo-sans-rounded;
      color: #0c566d;
      font-size: 13px;
      font-weight: 700;
      line-height: 58px;
    }

    .weeks {
      margin-left: 5%;
      margin-right: 8%;
    }

    .news {
      .news-icon {
        margin-right: 15px;
      }

      .arrow {
        float: right;
        padding-top: 23px;
      }

      a {
        color: #0c566d;
      }
    }
  }

  //end home_news

  //end git
  .tpo {
    background-color: #fff;

    .container {
      max-width: 1500px;
    }

    .caption {
      h2 {
        font-family: museo-sans-rounded;
        color: #115a71;
        font-size: 28px;
        font-weight: 700;
        line-height: 33px;
        margin-left: 15px;
        padding-top: 30px;
      }

      p {
        font-family: museo-sans;
        color: #546967;
        font-size: 16px;
        line-height: 26px;
        text-align: left;
        margin: 50px 15px;

        a {
          color: #57c3b7;
        }
      }
    }
  }
}

/*GET IN TOUCH*/
.git {
  background-image: url(../img/home/git.png);
  height: 75vh;
  margin-top: 2%;

  .caption {
    padding: 0 25px;
    right: 44%;
    top: 18vh;

    h2 {
      font-family: museo-sans-rounded;
      color: #fff;
      font-size: 36px;
      font-weight: 700;
      line-height: 48px;
    }

    p {
      color: #fff;
      font-size: 19px;
      font-weight: 300;
      line-height: 33px;
      margin-top: 45px;
      margin-bottom: 90px;
    }
  }

  a.btn:hover {
    background-color: transparent;
    border: solid 2px #55c2b6;
    color: #fff;
  }
}

// end HOME CSS

//ABOUT
.about {
  .about_banner {
    .scroll-container {
      bottom: 25%;
    }

    .banner_caption {
      top: 30%;

      h1 {
        margin-top: 25px;
        font-size: 36px;
        line-height: 56px;
      }

      p {
        margin-top: 50px;
        opacity: 0.7;
        font-size: 18px;
        line-height: 1.722;
      }
    }
  }

  .aim {
    position: relative;

    .container {
      max-width: 1380px;
    }

    .arrow1 {
      right: 25px;
    }

    .caption {
      font-family: museo-sans;
      font-weight: 500;
      margin: 150px 20px 180px 20px;

      h2 {
        margin-bottom: 55px;
        font-size: 32px;
        color: #0c566d;
        line-height: 52px;
      }

      p {
        font-size: 19px;
        color: #646e71;
        line-height: 36px;
      }

      span {
        background-image: url(../img/About/one_percent.png);
        background-position: center center;
        background-size: cover;
        height: 45px;
        color: #fff;
        white-space: nowrap;
        padding: 4px 8px;
      }
    }

    .line {
      height: 1px;
      border-color: #ddf3f1;
    }
  }

  //end aim
  .values {
    margin-bottom: 180px;
    position: relative;

    .arrow2 {
      top: 230px;
    }

    .caption.head {
      text-align: center;
      padding: 0 30px;

      h2 {
        font-family: Museo-Sans-Rounded;
        font-size: 36px;
        font-weight: 700;
        line-height: 56px;
        color: #57c3b7;
        margin-top: 110px;
        margin-bottom: 15px;
      }

      p {
        font-family: Museo-Sans;
        font-size: 23px;
        font-weight: 500;
        line-height: 41px;
        color: #8e9ba0;
      }
    }

    .caption-container {
      max-width: 1600px;

      .row .caption {
        h2 {
          font-family: Museo-Sans-Rounded;
          color: #0c566d;
          font-size: 32px;
          font-weight: 700;
          line-height: 32px;
          margin-top: 200px;
        }

        p {
          margin-top: 55px;
          max-width: 440px;
          color: #656e71;
          font-size: 18px;
          font-weight: 500;
          line-height: 28px;
          text-align: justify;
        }
      }
    }
  }

  //end VALUES
  .partners {
    .part1 {
      background-image: url(../img/about/banner02.png);
      height: 597px;
      border-bottom: solid 30px #37aea1;
    }

    .part2 {
      background-image: url(../img/about/banner03.png);
      height: 597px;
      border-bottom: solid 30px #57c3b7;
    }

    .caption {
      font-family: Museo-Sans;
      color: #fff;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -38%);

      h2 {
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
      }

      p {
        font-size: 18px;
        font-weight: 300;
        line-height: 36px;
        margin: 50px auto 60px auto;
      }

      a:hover {
        color: #fff;
      }
    }
  }
}

//
//
//
//
//PROPERTIES

.properties {
  .properties-banner {
    .banner_caption {
      top: 40%;

      span {
        font-weight: 900;
      }

      h1 {
        margin-top: 15px;
      }
    }
  }

  .properties-intro {
    position: relative;

    .fixed {
      position: fixed;
      padding-top: 50px;
      top: 155px;
      width: 98%;
      margin: 0 auto;
    }

    .nav-container {
      position: absolute;
      right: 0;
      left: 0;
      top: -150px;
      z-index: 20;
      width: 98%;
      margin: 0 auto;

      .navbar {
        transition: none;
      }

      .navbar-light {
        padding: 0;
      }

      .sticky .navbar-toggler {
        position: absolute;
        top: 6px;
        right: 0px;
        border: none;

        span i {
          color: #bbe1df;
          font-size: 25px;
          border: none;
        }
      }

      .navbar-nav {
        margin-right: auto;

        .nav-item.active a {
          color: rgb(87, 195, 183);
          background-color: #f7f7f7;
        }

        .nav-item {
          text-align: center;

          a {
            font-family: museo-sans-rounded;
            font-size: 20px;
            font-weight: 700;
            border-radius: 8px;
            width: 203px;
            height: 56px;
            background-color: rgb(4, 74, 95);
            color: #fff;
            line-height: 38px;
            margin: 0 20px;
            transition: 0.3s;
          }

          a:hover {
            text-decoration: none;
            color: rgb(87, 195, 183) !important;
            background-color: #f7f7f7;
            box-shadow: 0px 59px 81.48px 2.52px rgba(24, 23, 24, 0.19);
          }
        }
      }

      .sticky {
        height: 99px;
        background-color: rgb(12, 86, 109);
        box-shadow: 0px 28px 31.04px 0.96px rgba(24, 23, 24, 0.1);
        border-radius: 10px;
      }
    }

    .downloads {
      position: absolute;
      right: 0;

      .dwn {
        padding-left: 30px;
        background-color: #044a5f;
        height: 99px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        line-height: 99px;
        transition-duration: 0.3s;
      }

      .dwn:hover {
        opacity: 0.7;
      }

      .dwn-link {
        background-color: #044a5f;
        font-size: 26px;
        font-weight: 700;
        font-family: Museo-Sans;
        color: rgb(255, 255, 255);

        .poly {
          right: 98%;
          position: absolute;
          height: 100%;
        }

        .arrow {
          transition-duration: 1s;
        }

        .arrow1 {
          margin: 0 30px;
        }

        .arrow2 {
          margin: 0 30px;
          display: none;
        }
      }

      .drop-menu {
        display: none;
        position: absolute;
        background-color: #044a5f;
        border-radius: 5px;
        width: 290px;
        top: 90px;
        right: 0;

        a {
          text-align: center;
          font-family: Museo-Sans;
          color: #fff;
          font-size: 20px;
          line-height: 40px;
          font-weight: 500;
          height: 50px;
        }

        a:hover {
          color: rgb(87, 195, 183);
          background-color: transparent;
        }
      }
    }

    .downloads:hover .drop-menu {
      display: block;
    }

    //end of downloads area

    .arrow2 {
      right: 25px;
      top: 40%;
    }

    .caption p {
      text-align: center;
      font-size: 22px;
      font-weight: 500;
      color: rgb(84, 89, 91);
      line-height: 1.636;
      max-width: 1060px;
      margin: 100px auto;
    }
  }

  //Cost details

  .price {
    .container {
      max-width: 1500px;
      align-items: center;
      justify-content: space-between;
    }

    div p {
      font-size: 15px;
      color: #54595b;
      padding: 10px;
    }

    .like-btn {
      transition: 0.3s;

      i {
        cursor: pointer;
        font-size: 25px;
        margin: 0 10px;
      }
    }

    .liked {
      font-weight: bold;
      color: #0c566d;
    }
  }

  //property sliders
  .property-slides {
    position: relative;

    .container {
      max-width: 1950px;
      margin: 0 auto;
      text-align: center;
      padding: 25px 0;
    }

    .carousel-inner {
      margin-top: 30px;
      text-align: center;
    }

    .carousel-img {
      width: 60%;
      height: 500px;
      border-radius: 20px;
    }

    .carousel-control {
      width: 20%;
    }

    .carousel-control img {
      width: 100%;
    }

    .carousel-control-next span {
      padding: 0;
    }

    .carousel-control-prev span {
      left: 100px;
      padding: 0;
    }

    #indicators ol {
      bottom: 0;
    }
  }

  .content-wrapper {
    max-width: 1450px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
  }

  .room-info {
    padding-top: 150px;
    position: relative;

    .caption {
      p {
        color: rgb(12, 86, 109);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.8;
        padding-top: 55px;
      }

      .btn-light {
        position: relative;
        border-radius: 20px;
        width: 408px;
        height: 58px;
        margin-top: 55px;
        font-family: Museo-Sans-Rounded;
        font-size: 20px;
        color: rgb(255, 255, 255);
        line-height: 45px;

        img {
          position: absolute;
          padding: 15px;
          border-radius: 20px;
          background-color: #40b4a7;
          right: 6px;
          top: 3px;
        }
      }

      .btn-light:hover {
        background-color: #57c3b7;
      }
    }

    .room {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  .outside {
    padding-top: 100px;

    .caption-container {
      padding: 100px 25px 150px 25px;
      max-width: 1550px;
    }

    .caption {
      p {
        margin-top: 50px;
        font-size: 22px;
        font-weight: 500;
        color: rgb(84, 89, 91);
        line-height: 1.636;
      }

      .list {
        margin-top: 85px;
        text-align: left;
        font-weight: 700;
        font-size: 22px;
        font-family: Museo-Sans;
        color: rgb(87, 195, 183);
        line-height: 2.364;
      }
    }
  }

  //end outside

  .neighbour {
    padding-top: 100px;

    .content-wrapper {
      min-height: 750px;
      max-width: 1980px;
      text-align: left;
    }

    .caption {
      padding: 50px 25px 0 25px;
      max-width: 650px;
      margin: 0 auto;

      p {
        margin-top: 70px;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        color: rgb(84, 89, 91);
        line-height: 1.636;
      }
    }

    .neighbour_neighbour {
      img {
        border-radius: 25px;
        width: 100%;
        height: 100%;
      }
    }

    .elipse {
      position: absolute;
      top: -23%;
      left: 0;
    }
  }

  //end neighbour
  .eligibility {
    background-color: #f1f8f7;

    .caption-container {
      padding: 100px 0;

      .caption {
        p {
          margin-top: 50px;
          font-size: 22px;
          color: #0c566d;
          font-weight: 700;
          line-height: 2.364;
        }

        .sign {
          color: rgb(87, 195, 183);
        }
      }
    }
  }

  // end eligibility
  .next_steps {
    background-color: rgb(12, 86, 109);
    height: 123px;

    p {
      text-align: center;
      font-family: Museo-Sans;
      font-size: 26px;
      font-weight: 900;
      color: rgb(255, 255, 255);
      line-height: 111px;

      .sign {
        color: #57c3b7;
      }
    }
  }
}

// end Properties
//
//
//
//Properties Results

.prod_banner_results {
  // background: #254b4c;
  // background-image: -moz-linear-gradient(-17deg, rgb(17, 90, 113) 0%, rgb(104, 201, 190) 100%);
  // background-image: -webkit-linear-gradient(-17deg, rgb(17, 90, 113) 0%, rgb(104, 201, 190) 100%);
  // background-image: -ms-linear-gradient(-17deg, rgb(17, 90, 113) 0%, rgb(104, 201, 190) 100%);
  // height: 100vh;

  .banner_caption {
    h2 {
      font-size: 36px;
    }

    p {
      margin-top: 35px;
      color: rgb(87, 195, 183);
      line-height: 1.7;
      opacity: 1;
    }
  }
}

.property-list {
  background-color: #f5f7f8;
  display: flex;
  justify-content: center;

  .content-wrapper {
    padding-top: 25px;
    padding-bottom: 100px;
    max-width: 1950px;
  }

  .row {
    margin: 0 10px;
  }

  .property-intro {
    position: relative;
    margin-top: 15px;
    transition: 0.3s;

    .bg {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      margin: 15px 0;
    }

    .status {
      position: absolute;
      background: #fff;
      color: #0c566d;
      bottom: 10%;
      left: 3%;
      width: 30%;
      border-radius: 6px;
      padding: 5px;

      i {
        font-size: 13px;
        font-weight: bolder;
        margin-right: 6px;
      }
    }

    .caption-container {
      top: 10%;
      left: 3%;
      border-radius: 12px;
      background: #fff;
      width: 55%;
      min-height: 100px;

      .caption {
        max-width: 350px;
        margin: 20px;
        text-align: left;

        .head {
          line-height: 30px;
        }

        h2 {
          font-weight: 900;
          font-size: 18px;
          font-family: museo-sans;
          color: #0c566d;
        }
      }
    }

    .button {
      left: 3%;
      bottom: 8%;

      .btn-light {
        height: 45px;
        line-height: 31px;
        width: 200px;
        border-radius: 12px;
        text-transform: uppercase;
      }
    }

    .btn-purple {
      width: 170px;
      background: #8d87f5;
      border: solid 2px #8d87f5;
    }

    .btn-purple:hover {
      background: transparent;
    }

    .view {
      height: 40px;
      border-radius: 50%;
      bottom: 11%;
      right: 5%;
      background-color: #fff;
      width: 40px;
      transition-duration: 0.2s;

      .arrow {
        position: absolute;
        right: 13px;
        bottom: 18px;
        transition-duration: 0.2s;
      }

      .hidden {
        display: none;
        position: absolute;
        left: 18%;
        font-family: Museo-Sans-rounded;
        color: rgb(87, 195, 183);
        font-size: 15px;
        font-weight: 700;
        line-height: 40px;
      }
    }
  }

  .property-intro:hover {
    margin: 0;
  }

  .property-intro:hover .view {
    height: 40px;
    width: 120px;
    border-radius: 50px;
  }

  .property-intro:hover .view .arrow {
    transform: rotate(90deg);
  }

  .property-intro:hover .view .hidden {
    display: block;
  }
}

.charity-banner {
  background-image: url(../img/services_cx/banner2.png);
  height: 90vh;

  .caption-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .caption {
      font-family: Museo-Sans;

      h2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.5;
        color: #fff;
        max-width: 936px;
        margin: 35px auto;
      }

      span {
        background-image: url(../img/services_cx/one-percent.png);
        white-space: nowrap;
        padding: 7px 12px;
      }

      p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.8;
        margin: 80px 0;
      }
    }
  }
}

//PRODUCTS

.products {
  .products_banner {
    .banner_caption {
      top: 30%;

      h1 {
        font-size: 36px;
        line-height: 56px;
      }

      p {
        opacity: 0.8;
        font-size: 18px;
        line-height: 31px;
      }
    }

    .bottom-section {
      position: absolute;
      bottom: 0;
      width: 100%;
      min-height: 237px;
      background-color: rgba(12, 86, 109, 0.9);

      .row {
        max-width: 1500px;
        margin: 0 auto;
        align-items: center;
      }

      .caption {
        text-align: left;

        h2 {
          margin-top: 60px;
          font-size: 22px;
          color: #fff;
          line-height: 1.818;
        }

        p {
          margin-top: 20px;
          font-size: 17px;
          color: rgb(156, 199, 212);
          line-height: 1.6;
        }
      }

      .btn-light {
        margin-top: 40px;
        float: right;
        line-height: 4;
        height: 67px;
        width: 283px;
        border: solid 2px rgb(87, 195, 183);
        background-color: transparent;
      }
    }
  }

  .polygon {
    position: absolute;
    right: -25px;
    bottom: 0;
  }

  .circles {
    margin-top: 100px;
    margin-bottom: 150px;

    .circle-container {
      margin: 0 auto;
      max-width: 1500px;
      min-height: 1200px;
      position: relative;
    }

    .arrows {
      position: relative;

      img {
        max-width: 100%;
      }

      .arrow1 {
        top: -35px;
      }

      .arrow2 {
        top: 250px;
        left: 58px;
      }

      .arrow3 {
        top: 35px;
        right: 295px;
      }

      .arrow4 {
        bottom: -25px;
        right: 0;
      }

      .arrow5 {
        bottom: 0;
        left: 24%;
      }
    }

    .caption h2 {
      font-family: Museo-Sans;
      color: #0c566d;
      font-size: 24px;
      line-height: 42px;
      text-align: center;
      margin-top: 50px;
    }

    a {
      font-family: Museo-Sans-Rounded;
      font-weight: 700;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
    }

    a:hover {
      transform: scale(1.1);
    }
  }

  .c {
    position: absolute;
  }

  .c span {
    position: absolute;
  }

  .c-1 {
    left: 0;
    top: 21%;

    a span {
      color: #fff;
      font-size: 46px;
      line-height: 52px;
      text-align: left;
    }
  }

  .c-2 {
    top: 22%;
    left: 30%;

    a span {
      top: 30%;
      color: #0c566d;
      font-size: 28px;
      line-height: 42px;
    }
  }

  .c-3 {
    top: 18%;
    right: 15%;

    a span {
      color: #fff;
      font-size: 22px;
      line-height: 32px;
    }
  }

  .c-4 {
    right: 28%;
    bottom: 38%;

    a span {
      color: #fff;
      font-size: 24px;
      line-height: 34px;
    }
  }

  .c-5 {
    right: -2%;
    bottom: 22%;

    a span {
      top: 27%;
      color: #fff;
      font-size: 32px;
      line-height: 44px;
    }
  }

  .c-6 {
    bottom: 11%;
    left: 4%;

    a span {
      top: 23%;
      color: #fff;
      font-size: 22px;
      line-height: 32px;
    }
  }

  .c-7 {
    bottom: 18%;
    left: 27%;

    a span {
      color: #fff;
      font-size: 24px;
      line-height: 38px;
    }
  }

  .c-8 {
    right: 18%;
    bottom: -5%;

    a span {
      top: 32%;
      color: #0c566d;
      font-size: 28px;
      line-height: 44px;
    }
  }

  .donut {
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: #57c3b7;
    box-sizing: border-box;
    background-color: rgba(87, 195, 183, 0);
    width: 19px;
    height: 19px;
  }

  .dots .dot {
    border-radius: 50%;
    box-sizing: border-box;
    width: 11px;
    height: 11px;
  }

  .dot1 {
    right: 41%;
    top: 22%;
  }

  .dot2 {
    bottom: 38%;
    right: 46%;
  }

  .dot3.dot {
    background-color: #0c566d;
    bottom: 38%;
    left: 2%;
  }

  .dot4.dot {
    background-color: #0c566d;
    bottom: 7%;
    left: 48%;
  }

  .dot5.dot {
    background-color: #57c3b7;
    bottom: 43%;
    left: 28%;
  }

  .dot6.dot {
    background-color: #57c3b7;
    right: 25.5%;
    bottom: 46%;
  }

  //end circles
  .git {
    display: flex;
    align-items: center;

    .caption {
      width: 70%;
    }
    .caption h2 {
      font-weight: 500;
    }
  }
}

/*End Products*/

/*PRODUCTS MODAL*/
#modal {
  background: #5e8c9b;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#products_modal {
  margin: 20px;
  text-align: center;
  width: 814px;
  border-radius: 20px;
  box-shadow: 0px 59px 81.48px 2.52px rgba(24, 23, 24, 0.19);
  width: 814px;

  .head {
    font-family: museo-sans-rounded;
    font-weight: 700;
    background-color: #e1fcfe;
    border-radius: 20px 20px 0 0;
    min-height: 294px;
    padding: 75px 0;

    span {
      color: #57c3b7;
      font-size: 22px;
      line-height: 40px;
    }

    h2 {
      color: #0c566d;
      font-size: 30px;
      line-height: 52px;
    }
  }

  .caption {
    font-family: Museo-Sans;
    color: #4b4b4b;
    font-size: 17px;
    line-height: 30px;
    min-height: 304px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    padding: 40px 90px;
  }
}

/*SERVICES*/

.services {
  .services_banner {
    background-image: url(../img/services/banner.png);
    height: 100vh;

    .banner_caption {
      top: 30%;

      p {
        margin-right: 25px;
        margin-left: 25px;
        font-size: 18px;
        font-weight: 300;
        line-height: 34px;
        opacity: 0.8;
      }
    }
  }

  .scroll-container {
    bottom: 35%;
  }

  .scroll {
    margin-top: 70px;
  }

  .services-division {
    background-image: url(../img/services/rectangle_bg.png);
    height: 100vh;
    background-size: 100% 30vh;
    background-position: top;
    padding-top: 50px;

    .caption {
      text-align: center;
      font-family: Museo-Sans;
      font-weight: 500;
    }

    .container {
      position: relative;
      max-width: 1950px;
      margin: 0 auto;
    }

    .arrow1 {
      top: -82px;
      right: 5px;
    }

    .arrow2 {
      z-index: -1;
      position: absolute;
      bottom: -25%;
    }
  }

  .services-content {
    .banner {
      margin: 25px auto;
      height: 549px;
      border-radius: 8px;
      width: 100%;
    }

    .banner1 {
      background-image: url(../img/services/banner2.png);
    }

    .banner2 {
      background-image: url(../img/services/banner3.png);
    }

    .caption {
      color: #fff;
      border-radius: 8px;
      background-color: rgba(17, 90, 113, 0.902);
      box-shadow: 0px 57px 81.48px 2.52px rgba(12, 48, 59, 0.34);
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -15%);
      width: 90%;

      h3 {
        font-size: 28px;
        line-height: 40px;
        margin-top: 40px;
      }

      p {
        width: 80%;
        margin: 80px auto;
        font-size: 17px;
        line-height: 32px;
        margin-top: 25px;
      }
    }

    .s-scroll {
      background-color: #50b8af;
      width: 59px;
      height: 59px;
      border-radius: 50%;
      text-align: center;
      bottom: 0;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -40%);

      img {
        padding-top: 23px;
        padding-left: 2px;
      }
    }
  }

  .services-sell .caption {
    h2 {
      font-size: 32px;
      line-height: 52px;
      color: #0c566d;
      margin: 150px 45px 0 45px;
    }

    p {
      font-size: 19px;
      line-height: 36px;
      color: #71797b;
      font-weight: 500;
      margin: 70px 45px 150px 45px;
    }
  }
}

/*SERVICES CUSTOMER*/

.services-cx {
  .services-cx-banner {
    background-image: url(../img/services_cx/banner.png);
    height: 100vh;

    .banner_caption p {
      opacity: 0.6;
    }
  }

  .services-sell {
    position: relative;

    .caption {
      h2 {
        margin-top: 200px;
        font-size: 32px;
        line-height: 52px;
        color: #0c566d;
        margin: 150px 45px 0 45px;
      }

      p {
        font-size: 19px;
        line-height: 36px;
        color: #71797b;
        font-weight: 500;
        margin: 70px 45px 150px 45px;
      }
    }

    .arrow1 {
      top: -11%;
      right: 3%;
    }

    .arrow3 {
      top: -36%;
    }
  }

  .services-nav {
    width: 100%;

    .nav-wrapper {
      max-width: 1950px;
      margin: 0 auto;
      text-align: center;
      min-height: 120px;
      background-color: rgb(12, 86, 109);
      box-shadow: 0px 28px 31.04px 0.96px rgba(24, 23, 24, 0.1);
      border-radius: 20px;
    }

    .caption {
      margin-top: 25px;

      a {
        font-family: Museo-Sans;
        font-size: 26px;
        font-weight: 500;
        color: #fff;
        transition: 0.3s;
      }

      a:hover {
        color: #4cb0a8;
        background-color: #0b4f64;
        border-radius: 20px;
        padding: 25px 250px;
      }
    }
  }

  .package {
    .caption-container {
      max-width: 1850px;
      margin: 100px auto 150px auto;

      .caption {
        font-family: Museo-Sans;
        color: #115a71;
        text-align: left;

        h3 {
          text-align: justify;
          font-size: 23px;
          font-weight: 700;
          line-height: 41px;
          max-width: 535px;
          margin: 0 auto;
        }

        .list span {
          font-size: 21px;
          font-weight: 500;
          line-height: 41px;
        }

        img {
          margin: 0 10px;
        }
      }
    }
  }

  .charity {
    .charity-banner {
      background-image: url(../img/services_cx/banner2.png);
      height: 90vh;
    }
  }
}

//End services-cx

//FOOTER CSS

//Home_Housing
.home_housing {
  padding: 50px 0;
  background-color: #d9efed;

  .caption {
    margin: 50px 0 50px 150px;
  }

  .icon {
    float: left;
    margin: 80px 25px;
  }

  h2 {
    font-family: Museo-Sans;
    color: #115a71;
    font-size: 19px;
    font-weight: 700;
    line-height: 33px;
  }

  p {
    color: rgba(29, 59, 68, 0.7);
    line-height: 26px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
    max-width: 500px;
  }

  a {
    font-family: Museo-Sans;
    color: #57c3b7;
    font-size: 13px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
  }

  a:hover {
    color: rgba(29, 59, 68, 0.7);
  }
}

footer {
  padding-bottom: 5px;
  background-color: #085970;
  text-align: right;

  .container {
    max-width: 1300px;
  }

  .icon-container {
    max-width: 1300px;
    margin: 0 auto;

    .row {
      justify-content: space-between;
    }
  }

  .links {
    padding: 5% 0;
  }

  .copyright {
    font-family: Museo-Sans;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 72px;

    img {
      margin-bottom: 53px;
    }
  }

  h2 {
    font-family: Museo-Sans;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
  }

  li a {
    font-family: Museo-Sans;
    color: #fff;
    font-size: 18px;
    line-height: 44px;
    font-weight: 300;
  }

  p {
    font-family: Museo-Sans;
    color: #fff;
    font-size: 18px;
    line-height: 44px;
  }

  .line {
    width: 100%;
    line-height: 1px;
    color: #67c9be;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .cs {
    display: flex;
    justify-content: flex-end;
    font-family: Museo-Sans;
    color: #67c9be;
    font-size: 15px;
    font-weight: 500;
    line-height: 44px;
    padding: 5px 20px;
  }
}

//END FOOTER
