html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.success {
  font-size: 16px;
  color: green;
  font-weight: bold;
}

.form-control {
  height: auto;
  width: 100%;
  border: 2px solid #57c3b754 !important;
}

.form-control:focus {
  color: #17a2b88c;
  border-color: #17a2b8ba;
  box-shadow: none;
}

.small_error {
  color: red;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.red {
  color: red;
}

.green {
  color: green;
}

.add_post {
  height: auto;
  margin-top: 200px;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
}

.add_post .form-control {
  width: 40vw;
}

.profile {
  height: auto;
  padding-top: 200px;
}

.profile .line {
  width: 50%;
}

.profile .form-group {
  max-width: 50%;
}

.edit_profile {
  position: relative;
  text-align: left;
}

.edit_profile .form-group {
  max-width: 50%;
}

#signInPage {
  margin: auto;
  max-width: 1400px;
}

#signInPage .row {
  align-items: center;
}

.sup.container {
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}

.col-lg-6 {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.sign_up {
  background-image: url(../img/reg-bg.png);
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sign_up h1 {
  color: #fff;
  font-size: 32px;
}

.sign_up .btn-light:hover {
  color: #57c3b7;
  background-color: #636d6c7a;
}

.login {
  width: 75%;
}

.login hr {
  border-top: 1px solid #57c3b754 !important;
}

.login h1 {
  font-size: 32px;
}

.login label {
  font-size: 20px;
  font-family: Museo-Sans;
}

.login .btn-light:hover {
  color: #57c3b7;
}

.btn-light {
  font-size: 18px;
}

.modal-open {
  width: 100vw;
}

.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register .form {
  width: 80%;
}

.register .form-group label.error {
  font-size: 13px !important;
  font-family: inherit;
  padding: 0;
  font-style: italic;
}

.custom-checkbox {
  align-items: center;
  margin-left: 12px;
}

.custom-checkbox input {
  float: right;
  margin-left: 15px;
  height: 15px;
  width: 15px;
}

.register-success h3 {
  text-align: center;
  color: #55C2B6;
  font-size: 20px;
}

.register-error h3 {
  text-align: center;
  color: #cc0202;
  font-size: 20px;
}

.banner {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.banner_caption_container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.banner_caption {
  position: absolute;
  top: 36%;
  color: #fff;
  font-weight: 500;
}

.banner_caption h1 {
  font-family: Museo-Sans-Rounded;
  font-size: 42px;
  line-height: 62px;
  margin-top: 50px;
}

.banner_caption p {
  margin-top: 45px;
  opacity: 0.6;
  font-family: Museo-Sans;
  font-size: 20px;
  line-height: 31px;
}

.scroll-container {
  position: absolute;
  left: 49%;
}

.a-position {
  position: absolute;
}

.r {
  position: relative;
}

.btn-light {
  width: 191px;
  height: 55px;
  font-family: museo-sans-rounded;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  background-color: #57c3b7;
  border-radius: 30px;
  border: solid 2px #55C2B6;
  transition-duration: 0.2s;
}

.btn-light:hover {
  background-color: transparent;
  box-shadow: 0px 12px 35px 0px rgba(0, 0, 0, 0.25);
  border: solid 2px #55C2B6;
  color: #fff;
}

.navbar.main-nav {
  width: 100vw;
  height: 115px;
  padding: 0 50px;
  transition: 0.5s;
}

.navbar.main-nav .navbar-collapse {
  text-align: center;
}

.navbar.main-nav .nav-item {
  transition: all 0.3s ease-out;
}

.navbar.main-nav .nav-link {
  font-family: museo-sans-rounded;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: #fff;
  margin: 0 40px;
}

.navbar.main-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.navbar.main-nav .toggle {
  position: absolute;
  width: 100%;
  height: 30px;
  visibility: hidden;
}

.navbar.main-nav .toggle .span {
  position: absolute;
  top: 0;
  right: 20px;
  height: 2px;
  width: 35px;
  background: #bbe1df;
  margin-top: 5px;
  transition: all cubic-bezier(0.32, 0.15, 0, 1.53) 0.3s;
}

.navbar.main-nav .toggle #line01 {
  top: 0;
}

.navbar.main-nav .toggle #line02 {
  top: 10px;
}

.navbar.main-nav .toggle #line03 {
  top: 20px;
}

.navbar.main-nav .menu.close #line01 {
  transform: rotate(45deg);
  top: 10px;
}

.navbar.main-nav .menu.close #line02,
.navbar.main-nav .menu.close #line03 {
  transform: rotate(-45deg);
  top: 10px;
}

.navbar.main-nav .line {
  background-color: rgba(255, 255, 255, 0.05);
  width: 96%;
  height: 1px;
  left: 2%;
  top: 97px;
}

.navbar.main-nav .welcome {
  font-size: 15px;
  color: white;
}

.caption-container {
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
}

.head {
  font-family: museo-sans;
  color: #57c3b7;
  font-size: 13px;
  font-weight: 900;
  line-height: 58px;
  text-align: center;
}

.caption-main {
  font-family: Museo-Sans-Rounded;
  color: #0c566d;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.238;
}

.caption p {
  font-family: Museo-Sans;
}

.error {
  font-family: museo-sans;
  font-size: 16px;
  font-weight: 500;
  color: #ff0000;
  text-align: left;
  padding-left: 15px;
}

.scroll {
  background-color: #50b8af;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  text-align: center;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.scroll img {
  width: 35%;
  padding-top: 25px;
}

@-webkit-keyframes scroll {
  0% {
    top: 5px;
  }
  50% {
    top: 40px;
  }
  100% {
    top: 5px;
  }
}

@keyframes scroll {
  0% {
    top: 5px;
  }
  50% {
    top: 40px;
  }
  100% {
    top: 5px;
  }
}

.home .home_banner .polygon1 {
  bottom: -145px;
  left: 0;
}

.home .scroll-container {
  bottom: 15%;
}

.home .home_profit {
  position: relative;
  background-image: url(../img/home/one_percent_bg.png);
  background-position: center center;
  background-color: #115a71;
  min-height: 571px;
}

.home .home_profit .h-arrow1 {
  top: 20%;
  right: 0;
}

.home .home_profit .h-arrow2 {
  text-align: right;
  right: 0;
  bottom: -41px;
}

.home .home_profit .caption {
  top: 60px;
  left: 0;
  right: 0;
  text-align: center;
}

.home .home_profit .caption h3 {
  font-family: museo-sans;
  color: #57c3b7;
  font-size: 13px;
  font-weight: 900;
  line-height: 58px;
}

.home .home_profit .caption h2 {
  font-family: museo-sans-rounded;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  line-height: 46px;
}

.home .home_profit .caption p {
  font-family: museo-sans-rounded;
  color: #bbe1df;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.home .home_profit .one-percent {
  margin-top: 50px;
  margin-bottom: 60px;
}

.home .home_profit .caption .dot {
  margin: 0 5px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #47aaa6;
  border-radius: 50%;
}

.home .profit_light {
  background-color: #d9efed;
  padding-top: 20px;
  padding-bottom: 15px;
}

.home .profit_light .hand_icon {
  float: left;
  margin-top: 20px;
  margin-right: 25px;
}

.home .profit_light .caption-container {
  max-width: 1500px;
}

.home .profit_light .row {
  margin-top: 20px;
}

.home .profit_light .caption {
  font-family: Museo-sans;
  text-align: left;
}

.home .profit_light .caption h2 {
  color: #0c566d;
  font-size: 13px;
  font-weight: 700;
  line-height: 58px;
}

.home .profit_light .caption p {
  margin: 0 15px;
  color: rgba(70, 169, 165, 0.85);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.home .hyat_work {
  margin-top: 100px;
}

.home .hyat_work .caption-container {
  max-width: 1740px;
  padding: 0 20px;
}

.home .hyat_work .row {
  margin: 130px 0;
  text-align: center;
}

.home .hyat_work .row img {
  margin-top: 25px;
  width: 170px;
  height: 103px;
}

.home .hyat_work .caption {
  text-align: center;
  font-family: museo-sans;
}

.home .hyat_work .caption h2 {
  color: #000000;
  font-size: 36px;
  line-height: 67px;
  transform: rotate(0.056deg);
}

.home .hyat_work .caption h3 {
  margin-bottom: 28px;
  margin-top: 55px;
  color: #0c0c0c;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.home .hyat_work .caption p {
  color: rgba(146, 146, 146, 0.9);
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.home .aboutUs {
  margin-bottom: 10px;
}

.home .home_search {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #115a71;
}

.home .home_search .container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.home .home_search .form-arrows .arrow1 {
  right: 20px;
  bottom: 196px;
}

.home .home_search .form-arrows .arrow2 {
  bottom: 74px;
  right: 199px;
}

.home .home_search .form-arrows .arrow3 {
  bottom: 20%;
  right: 0;
}

.home .home_search .form-arrows .arrow4 {
  right: 73px;
  bottom: -16px;
}

.home .home_search .form-arrows .house_vector {
  left: 0;
  bottom: 0;
}

.home .home_search .row {
  padding: 131px 0;
}

.home .home_search .caption h1 {
  font-family: museo-sans-rounded;
  color: #fff;
  font-size: 32px;
  line-height: 58px;
  font-weight: 700;
}

.home .home_search .caption br {
  display: none;
}

.home .home_search .caption p {
  padding-right: 40px;
  margin-top: 50px;
  color: #b5d8e3;
  line-height: 27px;
  font-size: 17px;
}

.home .home_search .form form {
  padding-right: 30px;
  margin-top: 15px;
}

.home .home_search .form .custom-select {
  border-radius: 12px;
  background-color: #ffffff !important;
  max-width: 360px;
  height: 65px;
  background: url(../img/home/dropdown.png) no-repeat;
  background-position: 90% 50%;
}

.home .home_search .form select {
  margin: 12px 0 0 10px;
  font-family: museo-sans-rounded;
  color: #0c566d;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  background: transparent;
  width: 268px;
  border: none;
  -webkit-appearance: none;
}

.home .home_search .form option {
  font-family: museo-sans;
  color: #0c566d;
  font-size: 13px;
  font-weight: 700;
  transition-duration: 0.3s;
}

.home .home_search .form option:hover {
  background-color: #50b8af;
}

.home .home_search .form .btn-info {
  border: none;
  border-radius: 6px;
  background-color: #114454;
  box-shadow: 0px 26px 41.71px 1.29px rgba(24, 23, 24, 0.1);
  width: 73px;
  height: 65px;
  transition-duration: 0.3s;
}

.home .home_search .form .btn-info i {
  color: #fff;
  width: 8px;
  height: 13px;
  font-size: 30px;
  margin-right: 5px;
  margin-top: 5px;
}

.home .home_search .form .btn-info:hover {
  background-color: #50b8af;
}

.home .home_search .form .caption h3 {
  margin-top: 50px;
  font-family: museo-sans-rounded;
  color: #ffffff;
  font-size: 15px;
  line-height: 27px;
}

.home .home_search .form .caption a {
  color: #50b8af;
}

.home .home_search .form .caption a:hover {
  color: #fff;
}

.home .home_slider {
  position: relative;
}

.home .home_slider .slider-container {
  max-width: 1600px;
  margin: 0 auto;
}

.home .home_slider #carouselIndicators .row .col-1 {
  max-width: 300px;
  position: absolute;
  right: 0;
  margin-top: 130px;
}

.home .home_slider .carousel-indicators {
  position: relative;
  top: 50px;
  justify-content: flex-end;
}

.home .home_slider .carousel-indicators li {
  border-radius: 50%;
  background-color: rgba(80, 184, 175, 0.2);
  width: 8px;
  height: 8px;
  margin: 30px 10px;
}

.home .home_slider .carousel-indicators .active {
  border-radius: 50%;
  background-color: #50b8af;
  width: 8px;
  height: 8px;
}

.home .home_slider .carousel-inner {
  margin-top: 130px;
  margin-bottom: 100px;
}

.home .home_slider .carousel-inner .slider-img {
  float: left;
}

.home .home_slider .caption {
  margin-left: 200px;
  padding-right: 5px;
}

.home .home_slider .caption h3 {
  font-family: museo-sans-rounded;
  color: #50b8af;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 40px;
}

.home .home_slider .caption p {
  color: #0c566d;
  font-size: 16px;
  line-height: 26px;
}

.home .home_news .line {
  max-width: 1650px;
  height: 1px;
}

.home .home_news .container {
  position: relative;
  max-width: 1600px;
}

.home .home_news .row {
  margin-bottom: 25px;
}

.home .home_news .caption {
  font-family: museo-sans-rounded;
  color: #0c566d;
  font-size: 13px;
  font-weight: 700;
  line-height: 58px;
}

.home .home_news .weeks {
  margin-left: 5%;
  margin-right: 8%;
}

.home .home_news .news .news-icon {
  margin-right: 15px;
}

.home .home_news .news .arrow {
  float: right;
  padding-top: 23px;
}

.home .home_news .news a {
  color: #0c566d;
}

.home .tpo {
  background-color: #fff;
}

.home .tpo .container {
  max-width: 1500px;
}

.home .tpo .caption h2 {
  font-family: museo-sans-rounded;
  color: #115a71;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  margin-left: 15px;
  padding-top: 30px;
}

.home .tpo .caption p {
  font-family: museo-sans;
  color: #546967;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  margin: 50px 15px;
}

.home .tpo .caption p a {
  color: #57c3b7;
}

/*GET IN TOUCH*/

.git {
  background-image: url(../img/home/git.png);
  height: 710px;
  margin-top: 5%;
}

.git .caption {
  padding: 0 25px;
  right: 44%;
  top: 186px;
}

.git .caption h2 {
  font-family: museo-sans-rounded;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.git .caption p {
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  line-height: 33px;
  margin-top: 45px;
  margin-bottom: 90px;
}

.git a.btn:hover {
  background-color: transparent;
  border: solid 2px #55C2B6;
  color: #fff;
}

.about .about_banner .scroll-container {
  bottom: 25%;
}

.about .about_banner .banner_caption {
  top: 30%;
}

.about .about_banner .banner_caption h1 {
  margin-top: 25px;
  font-size: 36px;
  line-height: 56px;
}

.about .about_banner .banner_caption p {
  margin-top: 50px;
  opacity: 0.7;
  font-size: 18px;
  line-height: 1.722;
}

.about .aim {
  position: relative;
}

.about .aim .container {
  max-width: 1380px;
}

.about .aim .arrow1 {
  right: 25px;
}

.about .aim .caption {
  font-family: museo-sans;
  font-weight: 500;
  margin: 150px 20px 180px 20px;
}

.about .aim .caption h2 {
  margin-bottom: 55px;
  font-size: 32px;
  color: #0C566D;
  line-height: 52px;
}

.about .aim .caption p {
  font-size: 19px;
  color: #646E71;
  line-height: 36px;
}

.about .aim .caption span {
  background-image: url(../img/About/one_percent.png);
  background-position: center center;
  background-size: cover;
  height: 45px;
  color: #fff;
  white-space: nowrap;
  padding: 4px 8px;
}

.about .aim .line {
  height: 1px;
  border-color: #DDF3F1;
}

.about .values {
  margin-bottom: 180px;
  position: relative;
}

.about .values .arrow2 {
  top: 230px;
}

.about .values .caption.head {
  text-align: center;
  padding: 0 30px;
}

.about .values .caption.head h2 {
  font-family: Museo-Sans-Rounded;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  color: #57C3B7;
  margin-top: 110px;
  margin-bottom: 15px;
}

.about .values .caption.head p {
  font-family: Museo-Sans;
  font-size: 23px;
  font-weight: 500;
  line-height: 41px;
  color: #8E9BA0;
}

.about .values .caption-container {
  max-width: 1600px;
}

.about .values .caption-container .row .caption h2 {
  font-family: Museo-Sans-Rounded;
  color: #0c566d;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 200px;
}

.about .values .caption-container .row .caption p {
  margin-top: 55px;
  max-width: 440px;
  color: #656e71;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: justify;
}

.about .partners .part1 {
  background-image: url(../img/about/banner02.png);
  height: 597px;
  border-bottom: solid 30px #37aea1;
}

.about .partners .part2 {
  background-image: url(../img/about/banner03.png);
  height: 597px;
  border-bottom: solid 30px #57c3b7;
}

.about .partners .caption {
  font-family: Museo-Sans;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -38%);
}

.about .partners .caption h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

.about .partners .caption p {
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
  margin: 50px auto 60px auto;
}

.about .partners .caption a:hover {
  color: #fff;
}

.properties .properties-banner {
  background-image: url(../img/properties/banner.png);
  height: 100vh;
}

.properties .properties-banner .banner_caption {
  top: 40%;
}

.properties .properties-banner .banner_caption span {
  font-weight: 900;
}

.properties .properties-banner .banner_caption h1 {
  margin-top: 15px;
}

.properties .properties-intro {
  position: relative;
}

.properties .properties-intro .nav-container {
  position: absolute;
  right: 0;
  left: 0;
  top: -45px;
  z-index: 20;
  width: 100%;
  margin: 0 auto;
}

.properties .properties-intro .nav-container .navbar {
  transition: none;
}

.properties .properties-intro .nav-container .navbar-light {
  padding: 0;
}

.properties .properties-intro .nav-container .sticky .navbar-toggler {
  position: absolute;
  top: 6px;
  right: 0px;
  border: none;
}

.properties .properties-intro .nav-container .sticky .navbar-toggler span i {
  color: #bbe1df;
  font-size: 25px;
  border: none;
}

.properties .properties-intro .nav-container .navbar-nav {
  margin-right: auto;
}

.properties .properties-intro .nav-container .navbar-nav .nav-item.active a {
  color: #57c3b7;
  background-color: #f7f7f7;
}

.properties .properties-intro .nav-container .navbar-nav .nav-item {
  text-align: center;
}

.properties .properties-intro .nav-container .navbar-nav .nav-item a {
  font-family: museo-sans-rounded;
  font-size: 20px;
  font-weight: 700;
  border-radius: 20px;
  width: 203px;
  height: 56px;
  background-color: #044a5f;
  color: #fff;
  line-height: 38px;
  margin: 0 20px;
  transition: 0.3s;
}

.properties .properties-intro .nav-container .navbar-nav .nav-item a:hover {
  text-decoration: none;
  color: #57c3b7 !important;
  background-color: #f7f7f7;
  box-shadow: 0px 59px 81.48px 2.52px rgba(24, 23, 24, 0.19);
}

.properties .properties-intro .nav-container .sticky {
  height: 99px;
  background-color: #0c566d;
  box-shadow: 0px 28px 31.04px 0.96px rgba(24, 23, 24, 0.1);
  border-radius: 20px;
}

.properties .properties-intro .downloads {
  position: absolute;
  right: 0;
}

.properties .properties-intro .downloads .dwn {
  padding-left: 30px;
  background-color: #044a5f;
  height: 99px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 99px;
  transition-duration: 0.3s;
}

.properties .properties-intro .downloads .dwn:hover {
  opacity: 0.7;
}

.properties .properties-intro .downloads .dwn-link {
  background-color: #044a5f;
  font-size: 26px;
  font-weight: 700;
  font-family: Museo-Sans;
  color: white;
}

.properties .properties-intro .downloads .dwn-link .poly {
  right: 98%;
  position: absolute;
  height: 100%;
}

.properties .properties-intro .downloads .dwn-link .arrow {
  transition-duration: 1s;
}

.properties .properties-intro .downloads .dwn-link .arrow1 {
  margin: 0 30px;
}

.properties .properties-intro .downloads .dwn-link .arrow2 {
  margin: 0 30px;
  display: none;
}

.properties .properties-intro .downloads .drop-menu {
  display: none;
  position: absolute;
  background-color: #044a5f;
  border-radius: 15px;
  width: 290px;
  top: 99px;
  right: 0;
}

.properties .properties-intro .downloads .drop-menu a {
  text-align: center;
  font-family: Museo-Sans;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  height: 50px;
}

.properties .properties-intro .downloads .drop-menu a:hover {
  color: #57c3b7;
  background-color: transparent;
}

.properties .properties-intro .downloads:hover .drop-menu {
  display: block;
}

.properties .properties-intro .arrow2 {
  right: 25px;
  top: 40%;
}

.properties .properties-intro .caption p {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #54595b;
  line-height: 1.636;
  max-width: 1060px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 150px;
}

.properties .property-slides {
  position: relative;
}

.properties .property-slides .container {
  max-width: 1950px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
}

.properties .property-slides .carousel-inner {
  text-align: center;
}

.properties .property-slides .carousel-inner img {
  width: 78%;
  border-radius: 20px;
}

.properties .property-slides .carousel-control img {
  width: 100%;
}

.properties .property-slides .carousel-control-next span {
  padding-left: 70px;
}

.properties .property-slides .carousel-control-prev span {
  padding-right: 70px;
}

.properties .property-slides #indicators ol {
  bottom: 0;
}

.properties .content-wrapper {
  max-width: 1450px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}

.properties .room-info {
  position: relative;
}

.properties .room-info .caption p {
  color: #0c566d;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.8;
  padding-top: 55px;
}

.properties .room-info .caption .btn-light {
  position: relative;
  border-radius: 20px;
  width: 408px;
  height: 58px;
  margin-top: 55px;
  font-family: Museo-Sans-Rounded;
  font-size: 20px;
  color: white;
  line-height: 45px;
}

.properties .room-info .caption .btn-light img {
  position: absolute;
  padding: 15px;
  border-radius: 20px;
  background-color: #40b4a7;
  right: 6px;
  top: 3px;
}

.properties .room-info .caption .btn-light:hover {
  background-color: #57c3b7;
}

.properties .room-info .room {
  position: absolute;
  right: 0;
}

.properties .outside .caption-container {
  padding: 100px 25px 150px 25px;
  max-width: 1550px;
}

.properties .outside .caption p {
  margin-top: 50px;
  font-size: 22px;
  font-weight: 500;
  color: #54595b;
  line-height: 1.636;
}

.properties .outside .caption .list {
  margin-top: 85px;
  text-align: left;
  font-weight: 700;
  font-size: 22px;
  font-family: Museo-Sans;
  color: #57c3b7;
  line-height: 2.364;
}

.properties .neighbour .content-wrapper {
  min-height: 750px;
  max-width: 1980px;
  text-align: left;
}

.properties .neighbour .caption {
  padding: 50px 25px 0 25px;
  max-width: 650px;
  margin: 0 auto;
}

.properties .neighbour .caption p {
  margin-top: 70px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  color: #54595b;
  line-height: 1.636;
}

.properties .neighbour .neighbour_neighbour {
  position: absolute;
  right: 0;
  top: 0;
}

.properties .neighbour .neighbour_neighbour img {
  width: 100%;
}

.properties .neighbour .elipse {
  position: absolute;
  top: -23%;
  left: 0;
}

.properties .eligibility {
  background-color: #f1f8f7;
}

.properties .eligibility .caption-container {
  padding: 100px 0;
}

.properties .eligibility .caption-container .caption p {
  margin-top: 50px;
  font-size: 22px;
  color: #0c566d;
  font-weight: 700;
  line-height: 2.364;
}

.properties .eligibility .caption-container .caption .sign {
  color: #57c3b7;
}

.properties .next_steps {
  background-color: #0c566d;
  height: 123px;
}

.properties .next_steps p {
  text-align: center;
  font-family: Museo-Sans;
  font-size: 26px;
  font-weight: 900;
  color: white;
  line-height: 111px;
}

.properties .next_steps p .sign {
  color: #57c3b7;
}

.prod_banner_results .banner_caption h2 {
  font-size: 36px;
}

.prod_banner_results .banner_caption p {
  margin-top: 35px;
  color: #57c3b7;
  line-height: 1.7;
  opacity: 1;
}

.property-list {
  background-color: #f5f7f8;
  display: flex;
  justify-content: center;
}

.property-list .content-wrapper {
  padding-top: 25px;
  padding-bottom: 100px;
  max-width: 1950px;
}

.property-list .row {
  margin: 0 10px;
}

.property-list .property-intro {
  position: relative;
  margin-top: 15px;
  transition: 0.3s;
}

.property-list .property-intro .bg {
  width: 100%;
  border-radius: 12px;
  margin: 15px 0;
  height: 400px;
}

.property-list .property-intro .caption-container {
  top: 10%;
  left: 3%;
  border-radius: 12px;
  background: #fff;
  width: 55%;
  min-height: 100px;
}

.property-list .property-intro .caption-container .caption {
  max-width: 350px;
  margin: 20px;
  text-align: left;
}

.property-list .property-intro .caption-container .caption .head {
  line-height: 30px;
}

.property-list .property-intro .caption-container .caption h2 {
  font-weight: 900;
  font-size: 18px;
  font-family: museo-sans;
  color: #0c566d;
}

.property-list .property-intro .button {
  left: 3%;
  bottom: 8%;
}

.property-list .property-intro .button .btn-light {
  height: 45px;
  line-height: 31px;
  width: 200px;
  border-radius: 12px;
  text-transform: uppercase;
}

.property-list .property-intro .btn-purple {
  width: 170px;
  background: #8d87f5;
  border: solid 2px #8d87f5;
}

.property-list .property-intro .btn-purple:hover {
  background: transparent;
}

.property-list .property-intro .view {
  height: 40px;
  border-radius: 50%;
  bottom: 11%;
  right: 5%;
  background-color: #fff;
  width: 40px;
  transition-duration: 0.2s;
}

.property-list .property-intro .view .arrow {
  position: absolute;
  right: 13px;
  bottom: 18px;
  transition-duration: 0.2s;
}

.property-list .property-intro .view .hidden {
  display: none;
  position: absolute;
  left: 18%;
  font-family: Museo-Sans-rounded;
  color: #57c3b7;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
}

.property-list .property-intro:hover {
  margin: 0;
}

.property-list .property-intro:hover .view {
  height: 40px;
  width: 120px;
  border-radius: 50px;
}

.property-list .property-intro:hover .view .arrow {
  transform: rotate(90deg);
}

.property-list .property-intro:hover .view .hidden {
  display: block;
}

.charity-banner {
  background-image: url(../img/services_cx/banner2.png);
  height: 90vh;
}

.charity-banner .caption-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.charity-banner .caption-container .caption {
  font-family: Museo-Sans;
}

.charity-banner .caption-container .caption h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  max-width: 936px;
  margin: 35px auto;
}

.charity-banner .caption-container .caption span {
  background-image: url(../img/services_cx/one-percent.png);
  white-space: nowrap;
  padding: 7px 12px;
}

.charity-banner .caption-container .caption p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  margin: 80px 0;
}

.products .products_banner .banner_caption {
  top: 30%;
}

.products .products_banner .banner_caption h1 {
  font-size: 36px;
  line-height: 56px;
}

.products .products_banner .banner_caption p {
  opacity: 0.8;
  font-size: 18px;
  line-height: 31px;
}

.products .products_banner .bottom-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 237px;
  background-color: rgba(12, 86, 109, 0.9);
}

.products .products_banner .bottom-section .row {
  max-width: 1500px;
  margin: 0 auto;
  align-items: center;
}

.products .products_banner .bottom-section .caption {
  text-align: left;
}

.products .products_banner .bottom-section .caption h2 {
  margin-top: 60px;
  font-size: 22px;
  color: #fff;
  line-height: 1.818;
}

.products .products_banner .bottom-section .caption p {
  margin-top: 20px;
  font-size: 17px;
  color: #9cc7d4;
  line-height: 1.6;
}

.products .products_banner .bottom-section .btn-light {
  margin-top: 40px;
  float: right;
  line-height: 4;
  height: 67px;
  width: 283px;
  border: solid 2px #57c3b7;
  background-color: transparent;
}

.products .polygon {
  position: absolute;
  right: -25px;
  bottom: 0;
}

.products .circles {
  margin-top: 100px;
  margin-bottom: 150px;
}

.products .circles .circle-container {
  margin: 0 auto;
  max-width: 1500px;
  min-height: 1200px;
  position: relative;
}

.products .circles .arrows {
  position: relative;
}

.products .circles .arrows img {
  max-width: 100%;
}

.products .circles .arrows .arrow1 {
  top: -35px;
}

.products .circles .arrows .arrow2 {
  top: 250px;
  left: 58px;
}

.products .circles .arrows .arrow3 {
  top: 35px;
  right: 295px;
}

.products .circles .arrows .arrow4 {
  bottom: -25px;
  right: 0;
}

.products .circles .arrows .arrow5 {
  bottom: 0;
  left: 24%;
}

.products .circles .caption h2 {
  font-family: Museo-Sans;
  color: #0c566d;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  margin-top: 50px;
}

.products .circles a {
  font-family: Museo-Sans-Rounded;
  font-weight: 700;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.products .circles a:hover {
  transform: scale(1.1);
}

.products .c {
  position: absolute;
}

.products .c span {
  position: absolute;
}

.products .c-1 {
  left: 0;
  top: 21%;
}

.products .c-1 a span {
  color: #fff;
  font-size: 46px;
  line-height: 52px;
  text-align: left;
}

.products .c-2 {
  top: 22%;
  left: 30%;
}

.products .c-2 a span {
  top: 30%;
  color: #0c566d;
  font-size: 28px;
  line-height: 42px;
}

.products .c-3 {
  top: 18%;
  right: 15%;
}

.products .c-3 a span {
  color: #fff;
  font-size: 22px;
  line-height: 32px;
}

.products .c-4 {
  right: 28%;
  bottom: 38%;
}

.products .c-4 a span {
  color: #fff;
  font-size: 24px;
  line-height: 34px;
}

.products .c-5 {
  right: -2%;
  bottom: 22%;
}

.products .c-5 a span {
  top: 27%;
  color: #fff;
  font-size: 32px;
  line-height: 44px;
}

.products .c-6 {
  bottom: 11%;
  left: 4%;
}

.products .c-6 a span {
  top: 23%;
  color: #fff;
  font-size: 22px;
  line-height: 32px;
}

.products .c-7 {
  bottom: 18%;
  left: 27%;
}

.products .c-7 a span {
  color: #fff;
  font-size: 24px;
  line-height: 38px;
}

.products .c-8 {
  right: 18%;
  bottom: -5%;
}

.products .c-8 a span {
  top: 32%;
  color: #0c566d;
  font-size: 28px;
  line-height: 44px;
}

.products .donut {
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: #57c3b7;
  box-sizing: border-box;
  background-color: rgba(87, 195, 183, 0);
  width: 19px;
  height: 19px;
}

.products .dots .dot {
  border-radius: 50%;
  box-sizing: border-box;
  width: 11px;
  height: 11px;
}

.products .dot1 {
  right: 41%;
  top: 22%;
}

.products .dot2 {
  bottom: 38%;
  right: 46%;
}

.products .dot3.dot {
  background-color: #0c566d;
  bottom: 38%;
  left: 2%;
}

.products .dot4.dot {
  background-color: #0c566d;
  bottom: 7%;
  left: 48%;
}

.products .dot5.dot {
  background-color: #57c3b7;
  bottom: 43%;
  left: 28%;
}

.products .dot6.dot {
  background-color: #57c3b7;
  right: 25.5%;
  bottom: 46%;
}

.products .git .caption h2 {
  font-weight: 500;
}

/*End Products*/

/*PRODUCTS MODAL*/

#modal {
  background: #5e8c9b;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#products_modal {
  margin: 20px;
  text-align: center;
  width: 814px;
  border-radius: 20px;
  box-shadow: 0px 59px 81.48px 2.52px rgba(24, 23, 24, 0.19);
  width: 814px;
}

#products_modal .head {
  font-family: museo-sans-rounded;
  font-weight: 700;
  background-color: #e1fcfe;
  border-radius: 20px 20px 0 0;
  min-height: 294px;
  padding: 75px 0;
}

#products_modal .head span {
  color: #57c3b7;
  font-size: 22px;
  line-height: 40px;
}

#products_modal .head h2 {
  color: #0c566d;
  font-size: 30px;
  line-height: 52px;
}

#products_modal .caption {
  font-family: Museo-Sans;
  color: #4b4b4b;
  font-size: 17px;
  line-height: 30px;
  min-height: 304px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  padding: 40px 90px;
}

/*SERVICES*/

.services .services_banner {
  background-image: url(../img/services/banner.png);
  height: 100vh;
}

.services .services_banner .banner_caption {
  top: 30%;
}

.services .services_banner .banner_caption p {
  margin-right: 25px;
  margin-left: 25px;
  font-size: 18px;
  font-weight: 300;
  line-height: 34px;
  opacity: 0.8;
}

.services .scroll-container {
  bottom: 35%;
}

.services .scroll {
  margin-top: 70px;
}

.services .services-division {
  background-image: url(../img/services/rectangle_bg.png);
  height: 100vh;
  background-size: 100% 30vh;
  background-position: top;
  padding-top: 50px;
}

.services .services-division .caption {
  text-align: center;
  font-family: Museo-Sans;
  font-weight: 500;
}

.services .services-division .container {
  position: relative;
  max-width: 1950px;
  margin: 0 auto;
}

.services .services-division .arrow1 {
  top: -82px;
  right: 5px;
}

.services .services-division .arrow2 {
  z-index: -1;
  position: absolute;
  bottom: -25%;
}

.services .services-content .banner {
  margin: 25px auto;
  height: 549px;
  border-radius: 8px;
  width: 100%;
}

.services .services-content .banner1 {
  background-image: url(../img/services/banner2.png);
}

.services .services-content .banner2 {
  background-image: url(../img/services/banner3.png);
}

.services .services-content .caption {
  color: #fff;
  border-radius: 8px;
  background-color: rgba(17, 90, 113, 0.902);
  box-shadow: 0px 57px 81.48px 2.52px rgba(12, 48, 59, 0.34);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -15%);
  width: 90%;
}

.services .services-content .caption h3 {
  font-size: 28px;
  line-height: 40px;
  margin-top: 40px;
}

.services .services-content .caption p {
  width: 80%;
  margin: 80px auto;
  font-size: 17px;
  line-height: 32px;
  margin-top: 25px;
}

.services .services-content .s-scroll {
  background-color: #50b8af;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  text-align: center;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -40%);
}

.services .services-content .s-scroll img {
  padding-top: 23px;
  padding-left: 2px;
}

.services .services-sell .caption h2 {
  font-size: 32px;
  line-height: 52px;
  color: #0C566D;
  margin: 150px 45px 0 45px;
}

.services .services-sell .caption p {
  font-size: 19px;
  line-height: 36px;
  color: #71797B;
  font-weight: 500;
  margin: 70px 45px 150px 45px;
}

/*SERVICES CUSTOMER*/

.services-cx .services-cx-banner {
  background-image: url(../img/services_cx/banner.png);
  height: 100vh;
}

.services-cx .services-cx-banner .banner_caption p {
  opacity: 0.6;
}

.services-cx .services-sell {
  position: relative;
}

.services-cx .services-sell .caption h2 {
  margin-top: 200px;
  font-size: 32px;
  line-height: 52px;
  color: #0C566D;
  margin: 150px 45px 0 45px;
}

.services-cx .services-sell .caption p {
  font-size: 19px;
  line-height: 36px;
  color: #71797B;
  font-weight: 500;
  margin: 70px 45px 150px 45px;
}

.services-cx .services-sell .arrow1 {
  top: -11%;
  right: 3%;
}

.services-cx .services-sell .arrow3 {
  top: -36%;
}

.services-cx .services-nav {
  width: 100%;
}

.services-cx .services-nav .nav-wrapper {
  max-width: 1950px;
  margin: 0 auto;
  text-align: center;
  min-height: 120px;
  background-color: #0c566d;
  box-shadow: 0px 28px 31.04px 0.96px rgba(24, 23, 24, 0.1);
  border-radius: 20px;
}

.services-cx .services-nav .caption {
  margin-top: 25px;
}

.services-cx .services-nav .caption a {
  font-family: Museo-Sans;
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  transition: 0.3s;
}

.services-cx .services-nav .caption a:hover {
  color: #4cb0a8;
  background-color: #0b4f64;
  border-radius: 20px;
  padding: 25px 250px;
}

.services-cx .package .caption-container {
  max-width: 1850px;
  margin: 100px auto 150px auto;
}

.services-cx .package .caption-container .caption {
  font-family: Museo-Sans;
  color: #115a71;
  text-align: left;
}

.services-cx .package .caption-container .caption h3 {
  text-align: justify;
  font-size: 23px;
  font-weight: 700;
  line-height: 41px;
  max-width: 535px;
  margin: 0 auto;
}

.services-cx .package .caption-container .caption .list span {
  font-size: 21px;
  font-weight: 500;
  line-height: 41px;
}

.services-cx .package .caption-container .caption img {
  margin: 0 10px;
}

.services-cx .charity .charity-banner {
  background-image: url(../img/services_cx/banner2.png);
  height: 90vh;
}

.home_housing {
  padding: 50px 0;
  background-color: #d9efed;
}

.home_housing .caption {
  margin: 50px 0 50px 150px;
}

.home_housing .icon {
  float: left;
  margin: 80px 25px;
}

.home_housing h2 {
  font-family: Museo-Sans;
  color: #115a71;
  font-size: 19px;
  font-weight: 700;
  line-height: 33px;
}

.home_housing p {
  color: rgba(29, 59, 68, 0.7);
  line-height: 26px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 25px;
  max-width: 500px;
}

.home_housing a {
  font-family: Museo-Sans;
  color: #57c3b7;
  font-size: 13px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
}

.home_housing a:hover {
  color: rgba(29, 59, 68, 0.7);
}

footer {
  padding-bottom: 5px;
  background-color: #085970;
  text-align: right;
}

footer .container {
  max-width: 1500px;
}

footer .links {
  padding: 5% 0;
}

footer .copyright {
  font-family: Museo-Sans;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 72px;
}

footer .copyright img {
  margin-bottom: 53px;
}

footer h2 {
  font-family: Museo-Sans;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

footer li a {
  font-family: Museo-Sans;
  color: #fff;
  font-size: 18px;
  line-height: 44px;
  font-weight: 300;
}

footer p {
  font-family: Museo-Sans;
  color: #fff;
  font-size: 18px;
  line-height: 44px;
}

footer .line {
  width: 100%;
  line-height: 1px;
  color: #67c9be;
}

footer .icon {
  text-align: start;
  padding: 20px 120px;
}

footer .cs {
  text-align: end;
  font-family: Museo-Sans;
  color: #67c9be;
  font-size: 15px;
  font-weight: 500;
  line-height: 44px;
  padding: 5px 20px;
}